@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeInLate {
  60% {opacity:0;}
  61% {opacity:1;}
}


      .PlayerUI__top-right {
        font-family: Courier;
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 100;
        text-align: center;
        color: white;
        &:hover {
          color: blue !important;
        }
        cursor: pointer;
      }


.PlayerUI {
  .Cutscene {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    &--height100 {
      height: 100%;
    }
    background-color: black;

    overflow-y: scroll;
    background-size: contain;
    z-index: 6;

    .ControlsInfo {
      width: 30%;
      margin: 0 auto;
    }

    &__corner-key {
      position: absolute;
      right: 50px;
      bottom: 50px;
    }


    &__game-start-screen {
      // display: flex;
      height: 100%;
      // align-items: center;
      // flex-direction: column;
      // justify-content: center;
      padding-top: 150px;

      @media only screen and (max-width: 1350px) {
        padding-top: 100px;
      }

      @media only screen and (max-width: 1000px) {
        padding-top: 80px;
      }

      @media only screen and (max-width: 800px) {
        padding-top: 45px;
      }

      @media only screen and (max-width: 600px) {
        padding-top: 10px;
      }
    }



    &__games-container {

      &__wanna-play-more {
        text-align: center;
        color: white;
        &:hover {
          color: blue !important;
        }
      }

      &--title {
        position: relative;
        top: -150px;
      }

      a {
        text-decoration: none;
        // background: white;
        // margin-right: 3px;
        // color: black;
        // font-size: 12px;
        color: white;
        &:hover {
          color: white;
        }
        // &:visited {
        //   opacity: 0.5;
        // }
      }

      &__link-group {
        // color:inherit;
        // text-decoration: none;
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        background: white;

        a {
          padding: 0px 5px;
          // margin: 5px;

          color: black;
          // width: 60px;
          text-align: center;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }

      margin: 0 auto;
      background-color: rgba(100,100,100, 0.2);
      padding: 10px;
      width: 600px;
      margin-top: 5%;
      text-align: left;
      height: 500px;
      overflow-y: scroll;

      &__login-input {
        margin: 0 auto;
        display: block;
        background: black;
        color: white;
        width: 295px;
        height: 30px;
        border:none;
        border: 1px solid #333;
        padding: 0px;
        padding-left: 5px;
      }

      &__login-button {
        margin: 0 auto;
        display: block;
        cursor: pointer;
        color: white;
        width: 300px;
        height: 30px;
        padding: 0px;
        background: #333;
        border: 1px solid #222;
      }

      &__login-link {
        display: block;
        cursor: pointer;
        color: white;
        // width: 300px;
        height: 20px;
        background: transparent;
        border: none;
        margin: 0 auto;
        margin-top: 10px;

        &:hover {
          color: blue;
        }
      }

      &__login-message {
        display: block;
        color: white;
        // width: 300px;
        // height: 20px;
        margin-top: 20px;

        background: transparent;
        border: none;
        margin: 0 auto;
      }


      &__game {
        display: flex;
        flex-direction: row;
        height: 80px;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: #222;
        }
      }

      &__image {
        width: 160px;
        height: 80px;
        margin-left: auto;
      }

      &__title-row {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 400px;
        position: relative;
      }

      &__title {
        font-weight: 700;
        font-size: 20px;
      }

      &__description {
        text-overflow: ellipsis;
        line-clamp: 3;
        margin-top: 5px;
        font-size:12px;
      }

      &__author {
        padding-left: 10px;
        font-size:12px;
      }


      &__date {
        // width: 100px;
        margin-left:auto;
        text-align: right;
        font-size: 12px;
      }

      &__search {
        background: black;
        color: white;
        width: 300px;
        height: 30px;
        border:none;
        padding-left: 5px;
        // font-size: 20px;
      }

      &__sort {
        background: black;
        width: 100px;
        height: 30px;
        margin-right: 20px;
        border:none;
        cursor: pointer;
        color: #aaa;
        &:hover {
          color: white;
        }
      }

      &__form {
        margin-bottom: 40px;
      }
    }

    &__game-title {
      animation: fadeIn ease 5s;
      font-size:90px;
    }
    &__game-title-over {
      font-family: 'Press Start 2P', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      animation: fadeIn ease 5s;
      font-size: 90px;
      padding-top:5%;

      &--ha {
        position: relative;
        top: -70px;
      }
    }
    &__game-start, &__game-options {
      display: flex;
      animation: fadeInLate ease 1s;
      font-size: 30px;
      width: 200px;
      position: absolute;
      left: calc(50% - 90px);
      margin-top: 20px;
      // bottom: 100px;
      animation: blinker 1s step-start infinite;
      animation-delay: 1s;

      @media only screen and (max-width: 1000px) {
        bottom: 60px;
      }

      @media only screen and (max-width: 800px) {
        bottom: 30px;
      }

      @media only screen and (max-width: 600px) {
        bottom: 10px;
      }
    }

    text-align: center;
    &__game-options {
      animation: none;
      bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background: none;
        padding: 20px;
        font-size: 20px;
        color: white;
        font-family: 'Press Start 2P', sans-serif
      }
    }

    &__game-over-reason {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      padding: 20px;
      font-size: 20px;
      color: white;
      font-family: 'Press Start 2P', sans-serif;
      padding-bottom: 50px;
    }

    &__game-presents {
      position: relative;
      top: 38px;
      animation: fadeIn ease 1s;
      font-size:20px;
      font-weight: 100;
    }
    &__game-author {
      position: relative;
      bottom: 35px;
      animation: fadeIn ease 1s;
      font-size:20px;
      font-weight: 100;
    }

    &__key {
      width: 120px;
      position: relative;
      top: 16px;
      left: 0;
    }

    $stroke-color: rgba(255,255,255,0.5);
    $thickness-color: rgb(180, 180, 180);
    $shadow-color: rgba(0,0,0,0.4);

    .TextThreeD {
      // font-family: Lobster;
      // font-size: 7rem;
      // color: #444;

      text-shadow:
      /*
      * Faking a stroke wth text-shadows is helpful on fonts
      * with overlapping letters since the text-stroke property
      * will overlap the strokes.
      */
      -1px -1px 0 $stroke-color,
      0 -2px 0 $stroke-color,
      1px -1px 0 $stroke-color,
      2px 0 0 $stroke-color,
      1px 1px 0 $stroke-color,
      0 2px 0 $stroke-color,
      -1px 1px 0 $stroke-color,
      -1px 0 0 $stroke-color,

      // Extrusion
      .00rem 1px 0px $thickness-color,
      .01rem 2px 0px $thickness-color,
      .02rem 3px 0px $thickness-color,
      .03rem 4px 0px $thickness-color,
      .04rem 5px 0px $thickness-color,
      .05rem 6px 0px $thickness-color,


      // Actual shadow
      2px 13px 2px darken($shadow-color, 100%),
      4px 12px 4px $shadow-color,
      10px 12px 6px $shadow-color;


      // perspective: 50em;
      // -webkit-transform: scaleY(-1.6);
      // -webkit-transform: skewX(-10deg);
    }
  }

  &__open-log, &__close-log {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    i {
      position: relative;
      color: #777;
      padding: 10px 5px;
      background: #0f0f0f;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      // &:after {
      //   content: " ";
      //   position: absolute;
      //   left: -15px;
      //   top: 3px;
      //   border-top: 15px solid transparent;
      //   border-right: 15px solid black;
      //   border-left: none;
      //   border-bottom: 15px solid transparent;
      // }
    }
  }
}
