.Cutscene--stars{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  position:absolute;
  perspective: 340px;
  height: 100%;
  overflow: hidden;
}

// .centered{
//   position:absolute;
//   left:50vw;
//   top:50vh;
//   transform:translateX(-50%) translateY(-50%) rotateX(15deg);
//   text-align:center;
//
// }
//
// .cyberspace{
//   position:relative;
//   font-family:'Cyberspace-Raceway-Back',sans-serif;
//   font-size:4rem;
//   color:black;
//   -webkit-clip:background;
//   -webkit-background-clip:text;
//   -webkit-text-fill-color:rgba(135,209,228,1);
//   -webkit-text-stroke-width: 0.1rem;
//    -webkit-text-stroke-color: rgba(135,209,228,1);
//   filter:url(#extrude);
// }


$stars: 350;         // Number of start per layer
$depth: 300;         // Depth between star layers
$speed: 10s;          // Number of seconds to transition between layers
$width: 3000;        // Width of the starfield
$height: 960;        // Height of the starfield


.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  $box-shadow: ();
  @for $i from 0 through $stars {
    $box-shadow: $box-shadow, (random($width)-$width/2 + px) (random($height)-$height/2 + px) hsl(90,0,75+random(25));
  }
  box-shadow: $box-shadow;
  animation: fly $speed linear infinite;
  transform-style: preserve-3d;

  &:before, &:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
  }
  &:before {
    transform: translateZ(-$depth + px);
    animation: fade1 $speed linear infinite;
  }
  &:after {
    transform: translateZ(-$depth * 2 + px);
    animation: fade2 $speed linear infinite;
  }
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ($depth + px);
  }
}

@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}
