@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}
@import './hastartscreen.scss';
// @import './neon-font-effect.scss';

@import 'variables';
@import 'animate.scss';
@import 'contextMenu.css';
@import './Cutscene.scss';
@import './TitleAnimation.scss';
@import './ConstructEditor.scss';
@import './PlayerUI.scss';
@import './EditorUI.scss';
@import './dark.min.css';
@import './SequenceEditor.scss';
@import './Manager.scss';
// @import './slideout.scss';
@import './Modal.scss';
@import './Creator.scss';
@import './Inventory.scss';
@import './loader.scss';
@import './GameLogs.scss';
@import './Collapsible.scss';
@import './Popover.scss';

@import url('http://fonts.cdnfonts.com/css/black-empire');
//'Black Empire', sans-serif
@import url('http://fonts.cdnfonts.com/css/alien-mine');
//'Alien Mine', sans-serif
// @import url('http://fonts.cdnfonts.com/css/some-weatz-swashes');
//'Some Weatz Swashes', sans-serif;
//'Some Weatz Symbols', sans-serif;
@import url('http://fonts.cdnfonts.com/css/daydream-daily');
//'Daydream Daily', sans-serif;
@import url('http://fonts.cdnfonts.com/css/umber-ssi');
//'Umber SSi', sans-serif;
@import url('http://fonts.cdnfonts.com/css/wuwu-perspectiva');
//'wuwu perspectiva', sans-serif;
@import url('http://fonts.cdnfonts.com/css/equine');
//'Equine', sans-serif;
@import url('http://fonts.cdnfonts.com/css/american-lemon');
//'American Lemon', sans-serif;
@import url('http://fonts.cdnfonts.com/css/magic-school-one');
//'Magic School One', sans-serif;
//'Magic School Two', sans-serif;
@import url('http://fonts.cdnfonts.com/css/medieval-sharp');
//'Medieval Sharp', sans-serif;
@import url('http://fonts.cdnfonts.com/css/narpassword00000');
//font-family: 'NARPASSWORD00000', sans-serif;
@import url('http://fonts.cdnfonts.com/css/arafura');
//font-family: 'Arafura', sans-serif;
@import url('http://fonts.cdnfonts.com/css/planet-n');
// font-family: 'Planet N', sans-serif;
// font-family: 'Planet N 3D', sans-serif;
// font-family: 'Planet N Compact', sans-serif;
// font-family: 'Planet N Compact 3D', sans-serif;
// font-family: 'Planet N 3D Italic', sans-serif;
// font-family: 'Planet N Compact 3D Italic', sans-serif;
// font-family: 'Planet N Compact Condensed', sans-serif;
// font-family: 'Planet N Compact Condensed Italic', sans-serif;
// font-family: 'Planet N Compact Expanded', sans-serif;
// font-family: 'Planet N Compact Expanded Italic', sans-serif;
// font-family: 'Planet N Compact Italic', sans-serif;
// font-family: 'Planet N Condensed', sans-serif;
// font-family: 'Planet N Condensed Italic', sans-serif;
// font-family: 'Planet N Expanded', sans-serif;
// font-family: 'Planet N Expanded Italic', sans-serif;
// font-family: 'Planet N Italic', sans-serif;
@import url('http://fonts.cdnfonts.com/css/lake');
//font-family: 'Lake', sans-serif;
@import url('http://fonts.cdnfonts.com/css/street-fighter');
//font-family: 'Street Fighter', sans-serif;
@import url('http://fonts.cdnfonts.com/css/viafont');
//font-family: 'Viafont', sans-serif;

#GameContainer {
  position: relative;
  // position: absolute;
}

.LiveEditor {
  &__close {
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 5;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: #222;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: #333;
    }
  }

  &__title {
    width: 100%;
    background-color: #222;
    font-weight: bold;
    font-size: 20px;
    padding: 18px;
  }

  .react-dat-gui {
    width: 400px;
    margin-right: 40px;
    margin-top: 60px;
    z-index: 5;
  }

  .WorldLive, .HeroLive {
    .react-dat-gui {
      width: 400px;
    }
  }
}

html {
  // font-size: $root-font-size;
  // font-family: $font-family;
  // max-width: $page-width;
  // margin: 0 auto;
  // text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0px;
  // overflow-y: hidden;
  background: #333;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

.Toastify__toast-container {
  z-index: 1000;

  .Toastify__toast--default {
    background: #19191a;
    color: white;

    .Toastify__toast-body {
      text-align: center;
      font-family: Courier;
    }
  }
}

.ModalMultiSelect {
  font-size: 30px;
  font-family: Courier;
  padding: 40px;
}

.swal-wide{
  width:850px !important;
}

.swal2-title {
  font-family: Courier;
}

.swal-actions {
  z-index: 0;
}
.swal2-actions {
  z-index: 0;
}

.swal-modal-input-label {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: Courier;
}

.swal-modal-input {
  width: 500px;
  max-width: 80%;
  height: 20px;
  font-size:20px;
  font-family: Courier;
}

textarea.swal-modal-input{
  height: 60px;
}

select.swal-modal-input{
  height: 35px;
}
//, #pixi-canvas
#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#code-editor {
  width: 100%;
  height: 600px;
}
